app/
bin/
debian/build/
debian/com.github.geigi.cozy.debhelper.log
debian/com.github.geigi.cozy.substvars
debian/com.github.geigi.cozy/
debian/debhelper-build-stamp
debian/files
peewee/

# Ignore glade tmp files
*~
\#*\#

# Ignore sublime files
*.sublime-workspace

.vscode/.ropeproject
.vscode/tags