.vscode/
.idea/
_build/
.buildconfig
.flatpak-builder
build/
app/
bin/
cozy/__pycache__
debian/build/
debian/com.github.geigi.cozy.debhelper.log
debian/com.github.geigi.cozy.substvars
debian/com.github.geigi.cozy/
debian/debhelper-build-stamp
debian/files
peewee/
venv/

.pytest_cache


# Ignore glade tmp files
*~
\#*\#

# Ignore sublime files
*.sublime-workspace
*.sublime-project

.vscode/.ropeproject
.vscode/tags
.tx
*.log
*.prof
*.pyc
