[tool.black]
line-length = 100
skip-magic-trailing-comma = true

[tool.isort]
line_length = 100
profile = "black"
multi_line_output = 3

[tool.ruff]
line-length = 100
builtins = ["_"]
output-format = "github"
extend-select = ["B", "SIM", "PIE", "C4", "GT", "LOG"]
