#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Enable additional explot mitigation
# (PIE and *full* RELRO at the time of this writing)
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ 


override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	mkdir -p debian/build
	mkdir -p peewee
	PYTHONUSERBASE=${CURDIR}/peewee pip3 install --user peewee
	cd debian/build && meson --prefix=/usr ../..

DIRS = .
FILES = $(shell find -type f -name '*.*')

override_dh_auto_build:
	# Fix for meson 0.44.0
	#ls -al
	#sed -i -e 's%/data/ui/data/ui%/data/ui%g' $(FILES)
	#sed -i -e 's%/data/img/data/img%/data/img%g' $(FILES)
	cd debian/build && ninja -v

override_dh_auto_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/com.github.geigi.cozy ninja install
	
override_dh_usrlocal:
