.white {
    color: white;
}

.box_hover {
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

.selected {
    color: @theme_selected_fg_color;
}

.no_frame {
    border-style: none;
}

.sort_switcher_element {
    font-size: 110%;
}

.sort_switcher_element > .radio {
    min-width: 100px;
}

.no_padding {
    padding: 0px;
}

.unavailable_box {
    background-color: #C01C28;
    border-radius: 25px;
    padding: 3px;
    padding-right: 10px;
}

.unavailable_image {
    color: white;
}

.unavailable_label {
    color: white;
}

.book_container {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: @theme_base_color;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.02);
}

.selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

.book_detail_art {
    box-shadow: 0 0.5em 0.6em rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.chapter_element {
    border-radius: 0.5rem;
}

.book_play_button {
    background: rgba(50, 50, 50, 1.0);
    border: none;
    color: white;
    box-shadow: none;
    transition: none;
    -gtk-icon-shadow: none;
}

.book_play_button:hover, .book_play_button:active, .play_button:hover, .play_button:active {
    border: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
}

.filter-list-box-row {
    border-radius: 0.5rem;
}

.play_button {
    background: @theme_fg_color;
    color: @theme_bg_color;
    transition: none;
}

/*.play_button {*/
/*    background: @theme_selected_bg_color;*/
/*    color: @theme_selected_fg_color;*/
/*    transition: none;*/
/*}*/

.play_button:disabled {
    background-color: transparent;
    color: @insensitive_fg_color;
    box-shadow: none;
}

.player_bar {
    background: shade(@theme_bg_color, 0.95) 0%;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.bordered {
  border: 1px solid shade(@theme_bg_color, 0.8);
}

.h1 {
  font-size: 230%;
}

.h2 {
  font-size: 200%;
  font-weight: 200;
}

.h3 {
  font-size: 160%;
}

.h5 {
  font-size: 115%;
}

.monospace {
  font-family: monospace;
}
