.white {
    color: white;
}

.box_hover {
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

.selected {
    color: @theme_selected_fg_color;
}

.no_frame {
    border-style: none;
}

.sort_switcher_element {
    font-size: 110%;
}

.sort_switcher_element > .radio {
    min-width: 100px;
}

.no_padding {
    padding: 0px;
}

.unavailable_box {
    background-color: #C01C28;
    border-radius: 25px;
    padding: 3px;
    padding-right: 10px;
}

.unavailable_image {
    color: white;
}

.unavailable_label {
    color: white;
}

.book_container {
    border: 1px solid shade(@theme_bg_color, 0.85);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: @theme_base_color;
}

.selected {
    background-color: @theme_selected_bg_color;
}

.book_detail_art {
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}