.white {
  color: white;
}

.box_hover {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
}

.selected {
  color: @theme_selected_fg_color;
}

.no_frame {
  border-style: none;
}

.sort_switcher_element {
  font-size: 110%;
}

.no_padding {
  padding: 0px;
}