.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.bordered {
  border: 1px solid shade(@theme_bg_color, 0.8);
}

.h1 {
  font-size: 230%;
}
 
.h2 {
  font-size: 200%;
  font-weight: 200;
}

.h3 {
  font-size: 160%;
}

.h5 {
  font-size: 115%;
}

.monospace {
  font-family: monospace;
}

