.bordered {
  border: 1px solid shade(@theme_bg_color, 0.8);
}

.h1 {
  font-size: 230%;
}
 
.h2 {
  font-size: 200%;
  font-weight: lighter;
}

.h3 {
  font-size: 160%;
}

.h4 {
  font-size: 130%;
  font-weight: 200;
}

.h5 {
  font-size: 115%;
}

.slightly-bold {
  font-weight: 500;
}