progressbar.progress_read {
    min-width: 5px;
    min-height: 10px;
    font-weight: bold;
    color: @theme_fg_color;
}

progressbar.progress_read trough,
progressbar.progress_read trough.empty,
progressbar.progress_read trough.full {
    min-height: 22px;
    min-width: 5px;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
}

progressbar.progress_read progress,
progressbar.progress_read progress.full {
    border-width: 0;
    border-radius: 0;
    min-height: 22px;
    box-shadow: none;
}