.white {
    color: white;
}

.box_hover {
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

.selected {
    color: @theme_selected_fg_color;
}

.no_frame {
    border-style: none;
}

.sort_switcher_element {
    font-size: 110%;
}

.sort_switcher_element > .radio {
    min-width: 100px;
}

.no_padding {
    padding: 0px;
}

.unavailable_box {
    background-color: #C01C28;
    border-radius: 25px;
    padding: 3px;
    padding-right: 10px;
}

.unavailable_image {
    color: white;
}

.unavailable_label {
    color: white;
}

.book_card {
    padding: 1rem;
}

.selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

.book_detail_art {
  border-radius: 12px;
}

.chapter_element {
    border-radius: 0.5rem;
}

.book_play_button {
    background: rgba(50, 50, 50, 1.0);
    border: none;
    color: white;
    box-shadow: none;
    transition: none;
    -gtk-icon-shadow: none;
}

.book_play_button:hover, .book_play_button:active, .play_button:hover, .play_button:active {
    border: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
}

.filter-list-box-row {
    border-radius: 0.5rem;
}

.play_button {
    background-color: @theme_fg_color;
    color: @theme_bg_color;
}

.player_bar {
    background: shade(@theme_bg_color, 0.95) 0%;
}

.bold {
  font-weight: 900;
}

.semi-bold {
  font-weight: 600;
}

.bordered {
  border: 1px solid shade(@theme_bg_color, 0.8);
}

.monospace {
  font-family: monospace;
}

.transparent_bg {
    background: transparent;
}

.failed-import-card {
  /*
    6px vertical padding is not ideal, because the text scrolls into
    an invisible barrier, but it's nicer when no scrolling is happening
  */
  padding: 6px 12px;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.65);
  color: @accent_fg_color;
}

.blurred {
  filter: blur(6px);
}

