.box_hover {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
}

.no_frame {
  border-style: none;
}

.unavailable_box {
  background-color: @red_4;
  border-radius: 25px;
  padding: 3px;
  padding-right: 10px;
  color: white;
}

.book_card {
  transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.book_card:hover {
  background-color: alpha(currentColor, 0.0625);
}

.book_card:active {
  background-color: alpha(currentColor, 0.125);
}

.selected {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
}

.book_detail_art {
  border-radius: 12px;
}

.chapter_element {
  border-radius: 0.5rem;
}

.book_play_button {
  background: rgba(50, 50, 50, 1.0);
  border: none;
  color: white;
  box-shadow: none;
  transition: none;
  -gtk-icon-shadow: none;
}

.book_play_button:hover, .book_play_button:active, .play_button:hover, .play_button:active {
  border: none;
  box-shadow: none;
  -gtk-icon-shadow: none;
}

.filter-list-box-row {
  border-radius: 0.5rem;
}

.play_button {
  background-color: @theme_fg_color;
  color: @theme_bg_color;
}

.player_bar {
  background: shade(@theme_bg_color, 0.95) 0%;
}

.bold {
  font-weight: 900;
}

.semi-bold {
  font-weight: 600;
}

.transparent_bg {
  background: transparent;
}

.failed-import-card {
  /*
    6px vertical padding is not ideal, because the text scrolls into
    an invisible barrier, but it's nicer when no scrolling is happening
  */
  padding: 6px 12px;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.65);
  color: @accent_fg_color;
}

.blurred {
  filter: blur(6px);
}

.round-6 {
  border-radius: 6px;
}


.artwork_rounded_top_corners {
  border-radius: 12px 12px 0 0;
}
