---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ea4949 !default;
$header-bg-color-secondary: #f28143 !default;

// Text
$section-headings-color: #f28143 !default;
@import "{{ site.theme }}";
