---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ea4949 !default;
$header-bg-color-secondary: #f28143 !default;

// Text
$section-headings-color: #ea4949 !default;
$body-link-color: #f28143 !default;

// Code
$code-bg-color: #111111 !default;
$code-text-color: #eeeeee !default;

@import "jekyll-theme-cayman";

.outer {
    display: inline-block;
}
  
.inner {
    float: left;
}

.badge {
    height: 60px;
    margin-bottom: 20px;
}

@media screen and (max-width: #{$medium-breakpoint}) {
    .inner {
        float: none;
    }

    .project-name {
        margin-top: 0em;
    }
}

@media screen and (max-width: #{$large-breakpoint}) {
    .icon {
        width: 110px;
    }
}

@media screen and (min-width: #{$large-breakpoint}) {
    .icon {
        width: 140px;
    }

    .project-name {
        margin-top: 0em;
    }
}

@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    .project-name {
        margin-top: 0.5em;
    }
}
