name: Flatpak

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  flatpak:
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false
    steps:
    - uses: actions/checkout@v4

    - name: Install deps
      if: ${{ matrix.arch == 'aarch64' }}
      run: |
        dnf -y install docker

    - name: Set up QEMU
      id: qemu
      if: ${{ matrix.arch == 'aarch64' }}
      uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64

    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@master
      with:
        repository-name: gnome-nightly
        repository-url: https://nightly.gnome.org/gnome-nightly.flatpakrepo
        bundle: Cozy.flatpak
        manifest-path: com.github.geigi.cozy.json
        cache-key: "flatpak-builder-${{ github.sha }}"
        arch: ${{ matrix.arch }}
        upload-artifact: false
