name: Flatpak

on: [push, pull_request]

jobs:
  flatpak:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:6
      options: --privileged

    steps:
    - uses: actions/checkout@v2

    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v3
      with:
        bundle: Cozy.flatpak
        manifest-path: com.github.geigi.cozy.json
